.SearchBar {

    position: fixed;
    right: 0;

    width: 1200px;
    height: 5vh;

    margin-top: 15px;

    display: flex;
    flex-direction: row;

    transition: .3s;
    opacity: .4;
}

.SearchBar:hover {

    opacity: 1;
}

.SearchBar button {

    border-width: 0;
    background-color: rgb(0, 15, 70);
    height: 36px;
    padding: 8px;
    outline: none;
    cursor: pointer;

    margin-left: 50px;
}

.SearchBar span img {

    width: 20px;
}

.SearchBar input {

    border-width: 0;
    outline: none;
    padding: 8px;
    width: 350px;
    height: 20px;
    font-size: 15px;

    background-color: rgb(0, 15, 70);
}

::-webkit-input-placeholder {

    color: #e5e5e5e7;
}