.group-components {

    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;

    margin-left: 100px;
}

.group-components:first-child {

    margin-top: 300px;
    margin-bottom: 70px;
}

.group-components a img {

    width: 18px;
    margin-right: 5px;
}

.group-components a {

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 4px;

    font-weight: 100;
    text-decoration: none;
    color: #e5e5e5e7;

    opacity: .2;
    transition: .3s;
}

.group-components .first-element {

    opacity: 1;
}

.group-components a:hover {

    opacity: 1;
}   