* {
    margin: 0;
    padding: 0;
}

.sideBar-container {

    background-color: rgb(32, 15, 42);
    position: fixed;
    left: 0;
    width: 350px;
    height: 100vh;

    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.sideBar-profile-container {

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 80px;
    height: 100px;
}

.sideBar-user-img img {

    height: 90px;
    margin-left: 20px;
    margin-right: 15px;
    border-radius: 5px;
}

.sideBar-profile p {

    color: #e5e5e5e7;
    width: 50px;
    font-size: 25px;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: 5px;
}

.sideBar-profile button {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 110px;
    height: 25px;
    border-radius: 5px;

    background-color: #e5e5e5e7;
    font-weight: 100;
    color: rgb(32, 15, 86);
    border-width: 0;
}

.sideBar-profile button span img{

    margin-top: 4px;
    margin-left: 5px;
    width: 12px;
}